<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Employee</servlet-name>
  	<display-name>Employee</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Employee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<display-name>Add</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Read</servlet-name>
  	<display-name>Read</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Read</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmp</servlet-name>
  	<display-name>DeleteEmp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmp</servlet-name>
  	<display-name>UpdateEmp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchEmp</servlet-name>
  	<display-name>SearchEmp</display-name>
  	<description></description>
  	<servlet-class>com.entities.SearchEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendanceEmp</servlet-name>
  	<display-name>AttendanceEmp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AttendanceEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginEmp</servlet-name>
  	<display-name>LoginEmp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutEmp</servlet-name>
  	<display-name>LogoutEmp</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LogoutEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<display-name>DeleteCustomer</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<display-name>UpdateCustomer</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchCustomer</servlet-name>
  	<display-name>SearchCustomer</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SearchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Employee</servlet-name>
  	<url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Read</servlet-name>
  	<url-pattern>/Read</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmp</servlet-name>
  	<url-pattern>/DeleteEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmp</servlet-name>
  	<url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchEmp</servlet-name>
  	<url-pattern>/SearchEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendanceEmp</servlet-name>
  	<url-pattern>/AttendanceEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginEmp</servlet-name>
  	<url-pattern>/LoginEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutEmp</servlet-name>
  	<url-pattern>/LogoutEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchCustomer</servlet-name>
  	<url-pattern>/SearchCustomer</url-pattern>
  </servlet-mapping>
</web-app>
